@font-face {
  font-family: 'Noto Sans KR';
  src: url('../assets/fonts/NotoSansKR/NotoSansKR-Thin.ttf') format('truetype');
  font-weight: 100;
}
@font-face {
  font-family: 'Noto Sans KR';
  src: url('../assets/fonts/NotoSansKR/NotoSansKR-ExtraLight.ttf') format('truetype');
  font-weight: 200;
}
@font-face {
  font-family: 'Noto Sans KR';
  src: url('../assets/fonts/NotoSansKR/NotoSansKR-Light.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'Noto Sans KR';
  src: url('../assets/fonts/NotoSansKR/NotoSansKR-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Noto Sans KR';
  src: url('../assets/fonts/NotoSansKR/NotoSansKR-Medium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'Noto Sans KR';
  src: url('../assets/fonts/NotoSansKR/NotoSansKR-SemiBold.ttf') format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: 'Noto Sans KR';
  src: url('../assets/fonts/NotoSansKR/NotoSansKR-Bold.ttf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'Noto Sans KR';
  src: url('../assets/fonts/NotoSansKR/NotoSansKR-ExtraBold.ttf') format('truetype');
  font-weight: 800;
}
@font-face {
  font-family: 'Noto Sans KR';
  src: url('../assets/fonts/NotoSansKR/NotoSansKR-Black.ttf') format('truetype');
  font-weight: 900;
}

:root {
  --color-cblack: #1F2837;
  --font-base: 'Noto Sans KR', sans-serif;
}

* {
  font-family: var(--font-base);
}